# HW1-EREN TUMKAYA-090190328

## Q1

 First thing I did, after reading the bullets carefully, was to start searching the [site](https://climateknowledgeportal.worldbank.org/) which was given to us in the instructions.    
 
 While doing that, I also checked whether those countries really have a border with mediterranian sea.

![Image of Mediterranian Map](https://cdn.britannica.com/10/6010-050-56184E94/Mediterranean-Sea.jpg)

Altough I had doubts about some, namely Bosnia and Herzegovina and Slovenia, I was able to find my answers with the following links, respectively: [Bosnia and Herzegovina border](https://www.britannica.com/place/Bosnia-and-Herzegovina) ,[Slovenia border](https://www.britannica.com/place/Slovenia).  


Finally I was confident that the statement "The Mediterranean Sea is bordered by following 22 countries" was reliable.

### Obtaining the Data

 It took me quite some time to find out how to obtain the data, from the [dataportal](https://climateknowledgeportal.worldbank.org/download-data#htab-1500), required for this task. 
 
 Thanks to the Data Dictionary, I found Precipitation data with the code "pr" and surface temperature with "tas". In Data Acces Tool page I intended to create my API.
 
 Then I realised that I could only get an api link which included maximum of 3 countries as a condition. 
I tried to overcome this by selecting 3 countries, creating my api link and then adding the countries I required to the API link by hand. Main reason I did this was the instruction we were given on obtaining the data as one piece.  

 While I was adding "Palestine" I noticed that it wasn't on the list. I went back and looked at the map on the site. I managed to find out that it was called "[West Bank and Gaza](https://climateknowledgeportal.worldbank.org/country/west-bank-and-gaza)". Added it to the list as well.  
 
 Now I had an API link(which stated that it was a json file at the end of the link) but tbh I didn't remember the code to ingest it to my notebook. For this matter I checked our [Lecture 3](https://github.com/kaygun/2023-Fall-381E/blob/main/lectures/lecture-03.ipynb).Found out that I needed to import the library first and did it along with our famous pandas library.

In [5]:
import pandas as pd
from urllib.request import urlopen
import json

In [12]:
with urlopen("https://cckpapi.worldbank.org/cckp/v1/era5-x0.5_timeseries_pr,tas_timeseries_monthly_1950-2020_mean_historical_era5_era5_mean/REU,ITA,SVN,HRV,BIH,MNE,ALB,GRC,TUR,SYR,LBN,ISR,PSE,EGY,LBY,TUN,DZA,MAR,MLT,CYP,MCO,ESP?_format=json") as url:
    DataFrame = json.load(url)
DataFrame.keys()

dict_keys(['metadata', 'data'])

I tried to understand the json file by opening the file myseld on the browser. Also found a [site](https://realpython.com/python-json/) to find out how I can deal with json files .   
Then I realised that I could just change the "format=json" extension to "format=xlsx" and opened it on the browser. For me, who didn't have prior experience with API links, it was a magnificient discovery to see that it opened up as a two worksheet excel.

In [14]:
Pr_Tas_DataFrame=pd.read_excel("https://cckpapi.worldbank.org/cckp/v1/era5-x0.5_timeseries_pr,tas_timeseries_monthly_1950-2020_mean_historical_era5_era5_mean/REU,ITA,SVN,HRV,BIH,MNE,ALB,GRC,TUR,SYR,LBN,ISR,PSE,EGY,LBY,TUN,DZA,MAR,MLT,CYP,MCO,ESP?_format=xlsx")

I needed to seperate these worksheets in order to work with "precipitation" and "average mean surface", as expected from me. Here I used the help of Chat GPT. My question and answer can be seen [here](https://chat.openai.com/share/1050c43f-a44a-4d8b-b63d-4106582585c6)  

At this very moment, I realised that I made a mistake, I was supposed to obtain the data and before using "read_excel" , had to indicate two worksheets. I don't delete my mistaken previous row in order for it to be informative of my work but I followed another path from now on.

In [19]:
API_EXCEL="https://cckpapi.worldbank.org/cckp/v1/era5-x0.5_timeseries_pr,tas_timeseries_monthly_1950-2020_mean_historical_era5_era5_mean/REU,ITA,SVN,HRV,BIH,MNE,ALB,GRC,TUR,SYR,LBN,ISR,PSE,EGY,LBY,TUN,DZA,MAR,MLT,CYP,MCO,ESP?_format=xlsx"

For this part I needed to know the names of the worksheets and what my excel looked like. Well, since it popped up on my browser when I opened the link, I knew it already. I had two worksheets named "pr" and "tas", respectively.

In [25]:
surface_temp=pd.read_excel(API_EXCEL,sheet_name="tas" )
precipitation=pd.read_excel(API_EXCEL,sheet_name="pr" )

surface_temp.info()
precipitation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Columns: 854 entries, code to 2020-12
dtypes: float64(852), object(2)
memory usage: 146.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Columns: 854 entries, code to 2020-12
dtypes: float64(852), object(2)
memory usage: 146.9+ KB

## Operations on the Data

Since I wanted to check I obtained both of the seperate files, I wanted to see some rows and columns.

In [29]:
surface_temp.head(22)

,code,name,1950-01,1950-02,1950-03,1950-04,1950-05,1950-06,1950-07,1950-08,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,ALB,Albania,0.39,4.68,7.35,11.63,16.16,20.35,25.01,23.62,...,8.37,11.20,16.04,18.50,22.68,23.05,20.25,13.81,8.99,7.46
1,BIH,Bosnia and Herzegovina,-3.92,1.36,4.82,9.19,14.71,19.53,23.06,22.04,...,6.07,10.45,13.59,17.42,19.81,20.98,17.06,11.35,6.08,4.27
2,CYP,Cyprus,9.83,10.75,13.85,18.01,19.95,24.39,26.68,26.38,...,14.99,17.37,21.99,23.84,28.02,28.54,28.07,24.68,19.03,15.94
3,DZA,Algeria,10.01,12.80,16.29,21.04,26.50,32.33,32.86,32.04,...,19.92,25.13,29.62,33.40,34.90,34.73,31.43,25.51,18.39,14.55
4,EGY,Arab Republic of Egypt,11.83,12.59,16.98,23.50,25.64,28.23,29.88,29.32,...,18.82,22.42,27.21,29.81,30.61,31.00,30.18,26.33,18.37,16.35
5,ESP,Spain,4.97,7.33,9.37,11.02,14.46,20.31,24.11,22.07,...,10.20,12.71,17.77,19.61,24.58,23.34,19.55,13.58,11.24,7.17
6,GRC,Greece,2.60,6.77,8.60,13.98,17.61,22.01,25.79,24.78,...,10.44,12.36,17.90,21.15,24.73,24.76,22.40,17.33,11.36,10.12
7,HRV,Croatia,-1.35,3.51,7.25,10.85,16.95,21.85,24.88,23.76,...,7.99,12.42,15.52,19.68,22.04,23.09,18.57,13.00,7.41,5.42
8,ISR,Israel,9.35,9.79,14.36,20.61,21.74,24.31,26.40,25.90,...,15.85,18.60,23.59,25.15,27.74,27.92,28.64,25.07,18.39,15.21
9,ITA,Italy,2.59,5.40,7.71,9.89,15.65,20.72,24.35,22.52,...,8.24,12.07,16.57,19.15,22.68,23.38,19.49,13.26,10.29,6.34
10,LBN,Lebanon,3.18,3.80,8.96,15.27,16.43,20.18,22.43,22.07,...,10.97,13.46,18.51,21.08,25.07,24.66,25.59,21.11,13.22,10.28
11,LBY,Libya,10.94,12.07,15.12,21.44,24.62,27.75,28.54,28.67,...,18.97,23.48,27.36,30.35,29.88,30.96,29.26,24.73,16.71,14.48
12,MAR,Morocco,8.05,11.16,13.75,15.34,18.47,23.80,27.93,25.90,...,15.02,17.31,21.97,24.37,29.37,28.51,25.44,19.60,15.78,11.71
13,MCO,Monaco,4.70,7.06,8.80,9.91,15.33,20.11,23.73,21.78,...,9.69,12.67,17.25,19.21,22.32,23.06,19.75,13.88,11.72,7.42
14,MLT,Malta,13.78,14.09,14.23,16.27,18.84,23.51,26.13,26.61,...,14.66,16.31,19.75,21.93,25.16,27.04,25.70,22.02,19.37,16.66
15,MNE,Montenegro,-3.41,1.11,4.02,8.53,13.48,17.70,21.98,20.62,...,5.74,9.08,13.13,16.16,19.64,20.19,17.27,10.96,6.71,4.34
16,PSE,West Bank and Gaza,8.65,8.77,13.26,19.71,21.09,24.06,26.23,25.80,...,15.12,17.63,23.07,24.83,27.63,27.81,28.61,24.98,17.66,14.20
17,REU,France,23.49,23.25,22.47,21.97,19.58,18.43,17.26,17.04,...,23.74,22.27,20.36,18.69,18.01,17.84,18.48,20.24,20.46,22.58
18,SVN,Slovenia,-3.14,1.67,5.80,8.33,14.92,19.33,21.87,20.39,...,5.99,11.08,13.83,17.79,19.84,20.73,16.20,10.61,4.74,2.23
19,SYR,Syrian Arab Republic,2.59,4.58,11.83,20.23,21.82,26.05,28.52,27.30,...,14.32,18.24,23.81,27.48,32.14,30.43,30.32,23.65,14.24,10.27
20,TUN,Tunisia,8.11,10.42,12.71,16.41,22.01,26.91,28.76,28.35,...,15.24,19.46,24.90,27.49,29.78,31.06,26.62,21.20,17.02,12.55
21,TUR,Türkiye,-5.39,-2.45,3.96,12.38,14.50,18.08,21.77,21.51,...,7.37,10.22,15.71,19.95,24.34,23.26,22.14,16.48,7.21,4.57

In [30]:
precipitation.head(22)

,code,name,1950-01,1950-02,1950-03,1950-04,1950-05,1950-06,1950-07,1950-08,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,ALB,Albania,97.35,87.45,57.06,108.63,39.78,23.41,3.25,15.54,...,157.89,92.07,62.65,78.24,23.64,57.18,113.53,185.30,12.27,201.66
1,BIH,Bosnia and Herzegovina,78.33,87.53,81.82,85.88,33.80,20.94,23.37,13.63,...,80.71,39.42,113.40,131.63,65.13,119.86,85.74,147.62,34.98,177.84
2,CYP,Cyprus,68.26,30.95,54.18,32.61,34.12,2.59,0.57,0.44,...,59.12,30.97,11.22,0.97,0.20,0.70,1.62,2.31,97.35,74.32
3,DZA,Algeria,9.54,3.24,5.26,5.48,4.34,0.79,0.25,3.21,...,8.38,14.20,3.07,1.45,1.34,1.41,4.49,1.36,4.55,6.36
4,EGY,Arab Republic of Egypt,2.65,1.60,0.90,0.94,1.22,0.62,2.60,1.16,...,16.34,0.29,0.70,0.04,0.18,0.13,0.22,0.50,2.76,1.01
5,ESP,Spain,29.45,57.43,37.33,33.08,71.20,26.27,8.92,17.71,...,93.33,103.34,60.34,43.81,14.45,28.52,41.17,70.78,71.89,74.47
6,GRC,Greece,86.34,59.23,90.62,67.39,42.14,18.37,1.95,2.74,...,108.99,100.38,48.77,41.73,21.89,34.55,52.62,47.51,35.34,154.60
7,HRV,Croatia,87.53,78.08,48.30,98.04,19.68,18.86,22.34,14.64,...,61.25,26.84,81.34,101.21,62.88,125.63,94.17,171.13,42.62,166.63
8,ISR,Israel,58.02,37.63,30.46,5.36,6.65,0.44,0.99,0.54,...,68.79,18.80,8.63,1.41,0.59,1.72,1.32,1.06,43.54,27.34
9,ITA,Italy,72.88,82.85,42.86,115.70,44.61,34.81,19.90,44.03,...,101.03,58.99,77.56,105.68,49.01,90.75,86.94,129.30,52.25,177.42
10,LBN,Lebanon,172.69,69.14,84.14,24.29,33.77,0.87,0.90,0.98,...,112.68,62.79,28.26,3.70,1.97,3.84,3.71,3.64,107.93,71.40
11,LBY,Libya,6.46,3.04,2.31,0.53,1.59,0.05,0.44,0.95,...,4.08,0.64,0.30,0.27,0.07,0.14,0.64,0.67,4.57,1.91
12,MAR,Morocco,32.07,6.46,10.20,15.54,17.88,3.03,2.68,6.04,...,39.57,38.17,23.90,6.48,5.56,7.29,9.75,16.97,27.29,23.20
13,MCO,Monaco,28.89,103.63,48.47,88.26,46.76,37.90,12.81,30.11,...,66.79,44.33,101.30,102.74,54.36,46.20,40.38,157.41,24.54,152.93
14,MLT,Malta,103.62,84.78,55.22,26.42,3.61,0.12,0.00,2.21,...,51.26,7.94,2.94,0.25,0.25,0.06,41.36,24.67,76.79,89.80
15,MNE,Montenegro,107.09,135.64,73.45,133.90,52.71,29.49,15.41,25.77,...,167.57,82.00,99.35,115.55,49.08,104.04,166.97,254.84,10.70,291.74
16,PSE,West Bank and Gaza,88.79,55.55,41.02,9.01,12.40,0.49,0.57,0.35,...,90.68,20.41,13.39,2.46,0.35,1.47,1.45,1.13,61.83,38.88
17,REU,France,249.40,115.32,177.42,214.87,59.87,93.49,55.34,54.74,...,339.78,103.86,47.84,58.49,45.49,29.79,60.85,88.19,50.35,106.41
18,SVN,Slovenia,85.96,85.20,35.55,152.15,37.82,36.61,60.54,52.07,...,84.49,32.40,111.14,149.25,132.24,169.70,132.45,159.77,40.67,182.33
19,SYR,Syrian Arab Republic,55.20,22.35,33.56,11.86,23.34,0.74,0.68,0.52,...,59.76,20.71,15.35,1.56,0.50,0.56,0.66,0.35,40.72,22.35
20,TUN,Tunisia,34.08,27.17,36.09,29.81,10.05,0.96,0.18,4.94,...,37.30,26.45,4.38,6.63,2.35,1.86,42.23,7.51,23.43,22.66
21,TUR,Türkiye,103.27,44.62,68.85,46.07,101.80,33.17,14.01,16.92,...,87.92,67.52,77.22,44.56,15.85,13.42,10.70,23.49,41.66,48.52

Both seems fine, I want to transpose them though. It will convert them into a form which I am more used to seeing.

Well both of them seems fine, I won't be checking the duplicated rows because it doesn't make so such sence in these circumstances: The rows are unique as I could check all for both tables(These are the countries we choose) .I will check the columns if there is any which are duplicated.

In [38]:
surface_temp.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])